# Configuration Google OAuth pour MUM (Google Drive API)
# Créez vos identifiants dans la console Google Cloud : https://console.cloud.google.com/
# Activez l'API Google Drive dans votre projet.

GOOGLE_CLIENT_ID=votre_client_id_google.apps.googleusercontent.com
GOOGLE_PROJECT_ID=votre_nom_de_projet_google
GOOGLE_CLIENT_SECRET=votre_client_secret_google
GOOGLE_REDIRECT_URI=http://localhost
